import pytest

from {{ package_name }}.data.common.constants import ActionSource

pytestmark = pytest.mark.unit


def test_action_source_members():
    assert ActionSource.PORTAL == "PORTAL"
    assert ActionSource.SYSTEM in ActionSource.values
