from django.contrib import admin
from django.contrib.auth.admin import UserAdmin

from {{ package_name }}.data.auditlog.models import AuditLog
from {{ package_name }}.data.users.models import User


@admin.register(User)
class CustomUserAdmin(UserAdmin):
    pass


@admin.register(AuditLog)
class AuditLogAdmin(admin.ModelAdmin):
    list_display = ("created_at", "action", "object_type", "object_id", "actor", "action_source")
    list_filter = ("action_source", "object_type")
    readonly_fields = [f.name for f in AuditLog._meta.fields]

    def has_add_permission(self, request) -> bool:  # noqa: ANN001
        return False

    def has_change_permission(self, request, obj=None) -> bool:  # noqa: ANN001
        return False

    def has_delete_permission(self, request, obj=None) -> bool:  # noqa: ANN001
        return False
